.primary-btn {
    @apply bg-blue-500 text-white font-normal py-1 px-4 rounded inline-flex items-center;
}

.primary-btn:hover {
    @apply bg-blue-700
}

.secondary-btn {
    @apply bg-gray-300 text-gray-800 font-normal py-1 px-4 rounded inline-flex items-center
}


.secondary-btn:hover {
    @apply bg-gray-400
}

.tertiary-btn {
    @apply text-gray-800 rounded font-normal py-1 px-4 inline-flex items-center
}

.tertiary-btn:hover {
    @apply bg-gray-400
}

.primary-input {
    @apply appearance-none border block w-full bg-gray-200
    text-gray-700 border border-red-500 rounded py-1
    px-4 mb-3 leading-tight
}

.primary-label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pt-4
}

.primary-text-area {
    @apply resize border rounded
}

.primary-text-area:focus {
    @apply shadow-outline outline-none py-2
}

.description {
    float: left;
    width: 100%;
    height: auto;
}

.text-input {
    float: left;
    width: 100%;
    min-height: 75px;
    border: 1px solid grey;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.primary-tabs {
    font-size: 0.9rem;
    border-radius: 0;
    padding: 0.75rem 1.25rem;
    color: #e2edf4;
}

.nav-pills .nav-link.active {
    background: none;
    color: #4040c8;
    border-bottom: solid 2px #4040c8;
}

.nav-pills .nav-link:hover {
    background: none;
    color: #4040c8;
    border-bottom: solid 2px grey;
}

.nav-pills .nav-link {
    font-size: 0.9rem;
    border-radius: 0;
    padding: 0.5rem 1.25rem;
    color: #120f12;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*.primary-btn:focus {*/
/*    @apply bg-white, outline*/
/*}*/
